body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f8f8f8ed;
	/* background: #EEEEEE; */
}
a:hover {
	text-decoration: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.card {
	box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
}
.post-card:hover {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
		0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.tablink-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 150px;
	background-color: antiquewhite;
}
.tab .tablink.active {
	background-color: #ffff;
	border-top: 3px solid #157298;
	height: 50px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	float: right;
}
.tablink {
	padding-left: 3px;
}

/* nav tabs */
.nav-tabs {
	border: none;
}

.nav-tabs .nav-item .nav-link {
	border: none;
	position: relative;
}

.nav-tabs .nav-item .nav-link::before {
	content: '';
	position: absolute;
	width: 0;
	height: 3px;
	background: #157298;
	position: absolute;
	left: 50%;
	bottom: -3px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.nav-tabs .nav-item .nav-link.active {
	border-top: 3px solid #157298;
}

.nav-tabs .nav-item .nav-link:hover::before {
	left: 0;
	width: 100%;
}

.nav-tabs .nav-item .nav-link.active::before {
	width: 0;
}

.tab-content {
	padding: 10px;
}

.tab-pane {
	display: block;
	position: relative;
	left: 100%;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.tab-pane.active {
	left: 0;
}
.apps-card {
	box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
}
.apps-card:hover {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
		0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.apps-header {
	padding: 10px;
}
